<div class="row">
    <div class="col-lg-6">
      <label class="text-primary"><h4>Username:</h4></label>
      <input class="form-control" type="text"  [(ngModel)] = "username" name="username" placeholder="Enter username">
      <br>
      <button class="btn btn-success" (click) = "setUsername()">Submit</button>
   </div>
</div>
<h1>SocketChat</h1>
<div *ngIf = "username" >
  <input class = "form-control" type="text" placeholder="Enter message here" [(ngModel)]="message" name="message" (keyup.enter)="sendMessage()">
  <br>

  <div  *ngFor = "let message of messages">
      <div class="well"><strong class="text-info">{{message.username}} :</strong> {{message.text}}</div>
  </div>
</div>


<div class="text-center" *ngIf = "!username">
    <h4 class="well text-info ">Please enter username to chat</h4>
</div>